html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0%;
}
.container {
  background-color: rgb(209, 209, 209);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
}
.main {
  height: 616px;
  width: 440px;
  border: 2px solid rgb(50, 50, 50);
  display: flex;
  flex-wrap: wrap;
}
.box {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(50, 50, 50);
}
