html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0%;
}
* {
  font-family: "Gugi", sans-serif;
}
.container {
  background-color: rgb(209, 209, 209);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
}
.main {
  height: 616px;
  width: 440px;
  border: 2px solid rgb(50, 50, 50);
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.box {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(50, 50, 50);
}
.button {
  border: 4px solid rgb(50, 50, 50);
  height: 50px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 168px;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
  transition: background-color 0.27s ease;
  color: rgb(190, 190, 190);
}
